


body {
    font-family: 'Montserrat';
}


#topdiv {
    background-color: rgb(205, 25, 28);
    padding: 20px;
}

#prodhist {
    font-size: 22px;
    padding-top: 20px;
}

#bj-ørn {
    
}

#bjtekst {
    font-size: 100;
    font-style: italic;
    margin-top: 0;
    padding-top: 0;
}

#EVport {
    font-size: 1px;
    
}

#prodlink {
    padding-right: 20px;
}

#proglink {
    padding-right: 20px;
}

#teklink {
    padding-right: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(205, 25, 28);
    color: black;
    text-align: center;
 }