body {
  margin: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  position: relative;
  width: 640px;
  height: 480px;
  background: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
}

video {
  transform: scaleX(-1);
}
